@import url('https://fonts.googleapis.com/css?family=Coiny|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Anton');




/*----------------------------Navbar------------------------*/

    
body{
    background-color: #eeeeee;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand{
    font-family: 'Merriweather', serif;
}

.navbar-default .navbar-brand {
    color: #fff;
    
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #dcdcdc;
    background-color: #3d6486;
}
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-left:0;
    margin-right: 1px;
}

.navbar-default {
    background-color:  #3d6486;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    border-color: transparent;
    border-radius: 0;
    position: relative;
    min-height: 0;
    margin-bottom: 0px;
    border: 0;
    height: 50px;
    z-index: +1;
}


.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fbfbfb;
}

.text-uppercase {
    text-transform: uppercase;
    font-weight: 700;
    font-size: large;
    padding-left: 5px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-align: center;
    float: inherit;
    line-height: 2;
    font-weight: 600;
}

.nav>li {
    position: relative;
    display: block;
    font-size: medium;
}

 i {
    vertical-align: middle;
    padding: 5px;
    margin-right: -2px;
    color: #fff;
 }

.fa:hover{
    background-color:  rgb(168,168,168);
    border-radius: 4px;
    color: #fff;
 }
 
.navbar-default .navbar-nav>li>a:hover{
    color: rgb(168,168,168);
}
 
 .navbar-default .navbar-brand:hover{
    color: rgb(168,168,168);
}

/*----------------------------Section------------------------*/
h1{ 
    color: red;
    font-weight: 700;
    font-family: 'Anton', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}
video{
     display: block;
     margin: 60px auto 100px auto;
     width: 50%;
     height: 300px;
     box-shadow: 0px 0px 51px -9px rgba(0,0,0,0.75);
     background-color: red;
     position: relative ;
     cursor: pointer;
}

section{
     background: linear-gradient(to bottom, #C5C5C5 0%, #5929A4 50%, #C5C5C5 100%);
}



p{
    text-align: center;
    color: #fff;
    font-weight: bold;
}

h2{
    text-align: center;
    font-weight: bold;
}
p{  
    margin: 50px 25px 50px 25px;
    word-break: break-all;
}

/*I attached an other class to 'img-responsive'
because I want different style than the front image*/
.songimg{
    width: 230px;
    height: 200px;
    border-radius: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

audio{
    margin: 10px auto 20px auto;
    max-width: 230px;
    border-radius: 30%;
    display: block;
}
.title{
    margin-bottom: 0;
    font-style: italic;
}
mark{
    background: linear-gradient(to bottom, #FFFCC4 0%, #9EE8AE 50%, #FFFCC4 100%);
    border-radius: 40%;
}




.color-section{
     background-color: #eeeeee;
}
/*----------------------------Article------------------------*/

article{
    background: linear-gradient(to bottom, #C5C5C5 0%, #5929A4 50%, #C5C5C5 100%);
}
.indent{
    text-indent: 50px;
}

.bio-img{
    margin: 20px auto 15px auto;
    width: 500px;
    border: 2px solid #000;
}

/*----------------------------Main------------------------*/

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

span{
    display: block;
    font-weight: bold;
    font-size: large
}
.tikets{
    text-align: center;
}
.tikets a{
    text-decoration: none;
}

.text-left{
    margin-top: 75px;
    margin-bottom: -50px;
    color: #000;
}

hr { 
    width:100%; height:1px; background: #000 
}
.tikets:hover{
    background-color: red;
    border-radius: 25%;
}

/*----------------------------Footer------------------------*/


footer {
    background-color:#3d6486;;
    bottom: 0;
    height: 130px;
    width: 100%;
    position: relative;
}

.wrap{
    margin-top: 35px;
}
.footer i{
    padding: 10px;
}
    
h4 a{
    color: #fff;
    font-weight: bold;
}


h4 a:hover{
    color: rgb(168,168,168);
    text-decoration: none;
}




 